<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.chasanghun.rootdata-monitor</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/chasanghun/practice/suilend_alert/start_rootdata_daemon.sh</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/Users/chasanghun/practice/suilend_alert/rootdata_launchd.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/chasanghun/practice/suilend_alert/rootdata_launchd_error.log</string>
    
    <key>WorkingDirectory</key>
    <string>/Users/chasanghun/practice/suilend_alert</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    
    <key>ProcessType</key>
    <string>Background</string>
    
    <key>ThrottleInterval</key>
    <integer>60</integer>
</dict>
</plist> 